.container {
	padding: 24px;
	background-color: var(--white);
	border-radius: 8px;
	box-shadow: 0px 3px 3px var(--box-shadow);
	border: 1px solid var(--border);
}

.books {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 36px;
}
