.container {
	padding: 24px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 8px;
	box-shadow: 0px 3px 3px var(--box-shadow);
	border: 1px solid var(--border);
}

.books {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
	gap: 28px;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

@media screen and (max-width: 600px) {
	.books {
		grid-template-columns: 1fr;
	}

	.categories {
		flex-direction: column;

		& > article {
			width: 100%;
		}
	}
}
