.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid var(--text);
	padding-bottom: 5px;

	color: var(--text);
}

@media screen and (max-width: 600px) {
	.header {
		flex-direction: column;
		gap: 12px;
	}

  
}
