.header {
	padding: 20px;
	border-radius: 0px 0px 8px 8px;
	box-shadow: 0px 3px 1px var(--box-shadow);

	background-color: var(--highlight);
	color: var(--black);
	border: 1px solid var(--white);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	gap: 4px;
	align-items: center;

	& > * {
		text-shadow: 0px 1px 0px var(--white);
	}
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.list {
	display: flex;
	justify-content: center;
	gap: 16px;

	list-style: none;
}

.item {
	display: flex;
}

.link {
	background-color: var(--white);
	padding: 8px 16px;
	border-radius: 4px;

	border: 1px solid var(--black);
	box-shadow: 0px 3px 0px var(--black);
	color: var(--black);
	font-weight: 500;
}

.search {
	background-color: var(--white);
	padding: 2px 10px;
	border-radius: 32px;
	border: 1px solid var(--black);
	box-shadow: 0px 3px 0px var(--black);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	position: relative;
}

.input {
	border: none;
	padding: 8px 0;
	background-color: inherit;
	height: 100%;
	font-size: 1rem;
	outline: none;

	&::placeholder {
		color: var(--black);
	}
}

.button_theme {
	border: 1px solid var(--black);
	box-shadow: 0px 3px 0px var(--black);
	background-color: var(--white);
	border-radius: 4px;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
