.form_controll {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.label {
	font-weight: 500;
}

.select {
	border: 1px solid var(--black);
	border-radius: 4px;
	background-color: #fbfbfb;
	box-shadow: 0px 2px 0px var(--black);
	outline: none;
	height: 100%;
	font-size: 0.9rem;

	padding: 8px;

	text-overflow: clip;
}
