.wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
}

.wrapper > * {
	width: 50%;
	margin-bottom: auto;
}

@media screen and (max-width: 600px) {
	.wrapper {
		flex-direction: column;

		& > div {
			width: 100%;
		}
	}
}
