.form_controll {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.label {
	font-weight: 500;
}

.input {
	border: 1px solid var(--black);
	border-radius: 4px;
	background-color: #fbfbfb;
	box-shadow: 0px 2px 0px var(--black);
	outline: none;
	padding: 8px;
	font-size: 0.9rem;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
