.container_buttons {
	display: flex;
	gap: 12px;
}

.filter {
	width: 100px;
	padding: 8px;
	border-radius: 4px;
	box-shadow: 0px 3px 0px var(--black);
	outline: none;
	cursor: pointer;
	appearance: none;
	font-size: 1rem;

	option {
		cursor: pointer;
		text-align: left;

		&:checked {
			background-color: var(--black);
			color: var(--white);
			text-align: center;
		}
	}
}

@media screen and (max-width: 600px) {
	.container_buttons {
		width: 100%;

		& > * {
			flex-grow: 1;
		}
	}
}
