.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	color: var(--white);
	width: 100%;
	border-radius: 32px;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: 600;
	border: 1px solid var(--black);
	box-shadow: 0px 3px 0px var(--black);
}

.start {
	background-color: var(--blue);
}

.complete {
	background-color: var(--red);
}

.restart {
	background-color: var(--gray);
}
