.card {
	width: max-content;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid var(--black);
	box-shadow: 0px 3px 0px var(--black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	position: relative;
}

.button {
	border: none;
	background-color: transparent;
}
