:root {
	--primary: #202020;
	--secondary: #f4f2ee;
	--highlight: #19dcf6;

	--background: #f4f2ee;
	--text: #202020;

	--blue: #0088ff;
	--red: #ff0026;
	--gray: #474747;
	--green: #00e479;
	--yellow: #ffd000;

	--black: #202020;
	--box-shadow: rgba(32, 32, 32, 0.25);
	--border: rgba(32, 32, 32, 0.12);
	--white: #ffffff;

	--inter: "Inter", Arial, Helvetica, sans-serif;
}

:root[data-theme="dark"] {
	--background: #202020;
	--text: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	transition: background-color 0.15s ease;
	background-color: var(--background);
}

html {
	font-family: var(--inter);
}

body {
	width: 100%;
	min-height: 100vh;
}

#root {
	min-height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 50px;

	& > * {
		width: 100%;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;

	&:disabled {
		filter: brightness(0.8);
		opacity: 0.8;
		cursor: not-allowed;
	}
}

.button_behavior {
	transition: all 0.15s ease;
	cursor: pointer;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0px 6px 0px var(--black);
	}

	&:active {
		transform: translateY(2px);
		box-shadow: 0px 0px 0px var(--black);
	}
}
