:root {
	--primary: #202020;
	--secondary: #f4f2ee;
	--highlight: #19dcf6;

	--black: #202020;
	--box-shadow: rgba(32, 32, 32, 0.25);
	--border: rgba(32, 32, 32, 0.12);
	--white: #ffffff;

	--inter: "Inter", Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: var(--secondary);
}

html {
	font-family: var(--inter);
}

body {
	width: 100%;
	min-height: 100vh;
}

#root {
	min-height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 50px;

	& > * {
		width: 100%;
	}
}

a {
	text-decoration: none;
	color: inherit;
}
