.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;

	font-size: 1.1rem;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.15s ease;

	background-color: var(--white);
	box-shadow: 0px 3px 0px var(--black);
	color: var(--black);
	border: 1px solid var(--black);
}
