.book {
	background-color: #fff;
	border: 1px solid var(--black);
	padding: 24px 16px;
	border-radius: 8px;

	border: 1px solid var(--black);
	box-shadow: 0px 5px 0px var(--black);
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	gap: 4px;
}

.wrapper_intro {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--box-shadow);
	padding-bottom: 6px;
}

.body {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	gap: 16px;
	border-top: 1px solid var(--box-shadow);
	padding-top: 10px;
	border-bottom: 1px solid var(--box-shadow);
	padding-bottom: 10px;
}

.name {
	font-size: 1.3rem;
	filter: drop-shadow(1px 2px 0px rgb(220, 220, 220));
}

.favorite_button {
	box-sizing: 0px 2px 2px black;
	border: 2px solid black;
}

.icon_favorite {
	color: transparent;
	stroke: var(--black);
	stroke-width: 30px;
	transition: all 0.15s ease;
}

.icon_favorite.favorited {
	color: var(--yellow);
}

.wrapper_col {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.container_flags {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.container_dates {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
}

.wrapper {
	display: flex;
	justify-content: center;
	gap: 4px;
}

.input {
	border-radius: 4px;
	border: none;
	outline: none;
	text-align: center;
	background-color: var(--black);
	color: var(--white);
	width: 80px;
	font-size: 0.95rem;
	font-weight: 500;
	padding: 4px;
}

.progresss_button {
	color: var(--black);
	font-weight: bold;
	padding: 2px;
	border: none;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--black);
}

.minus_button {
	background: var(--red);
}

.plus_button {
	background-color: var(--green);
}

.progress_icon {
	width: 16px;
}

.progress {
	width: 100%;
	appearance: none;
	border-radius: 4px;
	overflow: hidden;
	border: 2px solid var(--black);

	&::-webkit-progress-bar {
		background-color: var(--black);
	}

	&::-webkit-progress-value {
		background-color: var(--green);
	}
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

