.book {
	background-color: #fff;
	border: 1px solid var(--black);
	padding: 24px 16px;
	border-radius: 8px;

	border: 1px solid var(--black);
	box-shadow: 0px 5px 0px var(--black);
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	gap: 4px;
}

.wrapper_intro {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--box-shadow);
	padding-bottom: 4px;
}

.body {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border-top: 1px solid var(--box-shadow);
	padding-top: 8px;
	border-bottom: 1px solid var(--box-shadow);
	padding-bottom: 8px;
}

.name {
	font-size: 1.3rem;
}

.wrapper_col {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.container_flags {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.container_dates {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
}

.wrapper {
	display: flex;
	justify-content: center;
	gap: 4px;
}

.input {
	border-radius: 4px;
	border: none;
	outline: none;
	text-align: center;
	background-color: var(--black);
	color: var(--white);
	width: 80px;
	font-size: 0.95rem;
	font-weight: 500;
}

.add_button {
	background-color: var(--green);
	color: var(--black);
	font-weight: bold;
	padding: 4px;
	border: none;
	border-radius: 4px;
	border: 2px solid var(--black);
}

.progress {
	width: 100%;
	appearance: none;
	border-radius: 4px;
	overflow: hidden;
	border: 2px solid var(--black);

	&::-webkit-progress-bar {
		background-color: var(--black);
	}

	&::-webkit-progress-value {
		background-color: var(--green);
	}
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
