.book {
	background-color: #fff;
	border: 1px solid var(--black);
	padding: 24px 16px;
	border-radius: 8px;

	border: 1px solid var(--black);
	box-shadow: 0px 5px 0px var(--black);
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid var(--box-shadow);
	padding-bottom: 4px;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.container_flags {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.container_dates {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
